provider "aws" {
  region = "${var.aws_region}"
  profile = "${var.aws_profile}"
}

# IAM
S3_access

#VPC
#Internet Gateway
#Public route table
#Private route
#Subnets
#public
#private 1
#private 2
#RDS1
#RDS2

#Security Groups

#Private
#Public
#RDS

#S3 code bucker

#compute
#key pair
#dev server
  #ansible playbook - wordpress
#load balancer
#AMI
#Launch
#ASG

#Route53
#primary zone
#www
#dev
#db - RDS
